<div fxLayoutAlign="center center" style="height: 100vh;">
  <mat-card class="loginCard" fxLayoutGap="40px" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 style="color: blueviolet;">Login</h1>
      <mat-card-subtitle
        >Please enter your credentials to Login</mat-card-subtitle
      >
    </div>

    <div
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      fxLayout="column"
      style="width: 100%;"
    >
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter emaiil address" />
        <mat-icon matSuffix>person_outline</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Enter Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <button mat-raised-button color="primary" fxFlexAlign="center">
        LOGIN
      </button>

      <div fxFlexAlign="center">
        <a mat-flat-button routerLink="/reset">Forgot password?</a>
      </div>
      <div fxLayout="row" fxFlexAlign="center">
        <div fxFlexAlign="end" style="padding-right: 15px;">
          <button mat-stroked-button color="primary" routerLink="/reg/register">
            New Registration
          </button>
        </div>
        <div fxFlexAlign="end">
          <a
            mat-flat-button
            [routerLink]="['/reg/continue']"
            style="color: rgb(27, 0, 100);"
            >Continue Registration</a
          >
        </div>
      </div>
    </div>
  </mat-card>
</div>
