<div style="width: 100vw">
  <mat-card class="regCard" fxLayoutGap="15px" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 style="color:blueviolet">Register Admin</h1>
      <mat-card-subtitle>Reponses</mat-card-subtitle>
    </div>

    <div
      fxLayoutAlign="start"
      fxLayout="column"
      style="width: 100%; padding: 20px;"
    >
      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Organisation Name:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Address:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Contact:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Phone Number:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Country:</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutGap="5px">
      <button mat-raised-button color="primary" fxFlexAlign="center">
        Register
      </button>
    </div>
  </mat-card>
</div>
