<div fxLayoutAlign="center center" style="height: 100vh; ">
  <mat-card class="loginCard" fxLayoutGap="10px" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 style="color:blueviolet">Forgot Password</h1>
      <mat-card-subtitle>Reponses</mat-card-subtitle>
    </div>

    <div fxLayoutAlign="center center" fxLayout="column" style="width: 100%;">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Enter email or phone number</mat-label>
        <input matInput placeholder="" />
        <mat-hint>error messages</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <button mat-raised-button color="primary" fxFlexAlign="center">
        Reset
      </button>
    </div>
  </mat-card>
</div>
