<div
  *ngIf="!forgotVerified"
  fxLayoutAlign="center center"
  style="height: 100vh;"
>
  <mat-card class="loginCard" fxLayoutGap="10px" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 style="color: blueviolet;">Forgot Password</h1>
      <div *ngIf="errorMessage" fxFlexAlign="center">
        <mat-hint [ngStyle]="{ color: 'red' }">{{ errorMessage }}</mat-hint>
      </div>
      <div *ngIf="message" fxFlexAlign="center">
        <mat-hint [ngStyle]="{ color: 'green' }">{{ message }}</mat-hint>
      </div>
    </div>
    <form
      [formGroup]="forgotForm"
      (ngSubmit)="onSubmitVerify(forgotForm.value)"
    >
      <div fxLayoutAlign="center center" fxLayout="column" style="width: 100%;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Enter Email or Phone Number</mat-label>
          <input matInput placeholder="" formControlName="cred" />
          <mat-error *ngIf="hasError('cred', 'required')"
            >*Field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <app-custom-btn
          fxFlexAlign="center"
          [type]="'submit'"
          [isloading]="formLoading"
          [color]="'primary'"
          [text]="'Submit'"
        ></app-custom-btn>
      </div>
    </form>
  </mat-card>
</div>

<div
  *ngIf="forgotVerified"
  fxLayoutAlign="center center"
  style="height: 100vh;"
  [hidden]="formSubmited"
>
  <mat-card class="loginCard" fxLayoutGap="10px" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 style="color: blueviolet;">Reset Password</h1>
      <div *ngIf="message" fxFlexAlign="center">
        <mat-hint [ngStyle]="{ color: 'green' }">{{ message }}</mat-hint>
      </div>
      <div *ngIf="errorMessage" fxFlexAlign="center">
        <mat-hint [ngStyle]="{ color: 'red' }">{{ errorMessage }}</mat-hint>
      </div>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset(resetForm.value)">
      <div fxLayoutAlign="center center" fxLayout="column" style="width: 100%;">
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Enter Email or Phone Number</mat-label>
          <input matInput placeholder="" formControlName="cred" />
          <mat-error *ngIf="hasErrorReset('cred', 'required')"
            >*Field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center center" fxLayout="column" style="width: 100%;">
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Enter verification code</mat-label>
          <input matInput placeholder="" formControlName="code" />
          <mat-error *ngIf="hasErrorReset('code', 'required')"
            >*Field is required</mat-error
          >
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <app-custom-btn
          fxFlexAlign="center"
          [type]="'submit'"
          [isloading]="formLoading"
          [color]="'primary'"
          [text]="'Submit'"
        ></app-custom-btn>
      </div>
    </form>
  </mat-card>
</div>

<app-dialog
  [showBack]="false"
  [forwardText]="'Proceed to Login'"
  (forwardClicked)="navigate()"
  [title]="'Congratulations'"
  [message]="response.Message"
  *ngIf="formSubmited"
>
</app-dialog>
